{% extends "layout.html" %}

{% block title %}
    Subscription Request
{% endblock %}

{% block main %}
    <h2>Request the creation of an account</h2>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="first_name" name="first_name" placeholder="First Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="last_name" name="last_name" placeholder="Last Name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="establishment" name="establishment" placeholder="Establishment" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="sector" name="sector" placeholder="Sector" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="phone" name="phone" placeholder="Phone Number" type="text">
        </div>
        <div class="mb-3">
            <!-- Country names and Country Name -->
            <select class="form-control mx-auto w-auto" id="country" name="country">
                <option value="" disabled selected hidden>country</option>
                {% for countrie in countries %}
                    <option value="{{ countrie }}">{{ countrie }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
