
    function freezeTime(etime) {
        var now = new Date();
        var end = new Date(etime*1000);
        var result = Math.floor(end - now) / 1000;
        if(result<0){
            $("#freeze_etime").html("00 : 00 : 00");
            return;
        }
        var interval = setInterval(sub, 1000);
        function sub() {
            if (result > 1) {
                result = result - 1;
                var second = Math.floor(result % 60);
                var minite = Math.floor((result / 60) % 60);
                var hour = Math.floor((result / 60 / 60) % 60);
                hour = hour < 1 ? 0 : hour;
                $("#freeze_etime").html(hour + " : " + minite + " : " + second);
            } else {
                window.clearInterval(interval);
                window.location.reload();
            }
        }
    }
    freezeTime(parseInt("1709819112"));
    $(function () {
        $('.footer').find('.btn-link-default').eq(1).addClass("active");
    });
    var oid, add_id = '';
    var isShare = ("0" == '0');
    $(function () {
        $('#load').hide();
    });
    $('.pagination li').click(function () {
        var class2 = $(this).attr('class');
        if (class2 == 'active' || class2 == 'disabled') {

        } else {
            var url = $(this).find('a').attr('href');
            window.location.href = url;
        }
    });
    $(function () {
        $('.pagination-container select').attr('disabled', 'disabled');
    })

    $('.tabs_btn1').click(function () {
        if ("0" == 1) {
            $(document).dialog({
                type: 'confirm',
                titleText: "Confirme cancelamento?",
                buttonTextConfirm: "confirme",
                buttonTextCancel: "cancelar",
                autoClose: 0,
                onClickConfirmBtn: function () {
                    $.ajax({
                        url: "/index/order/do_order",
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            oid: oid,
                            status: 2
                        },
                        success: function (res) {
                            layer.closeAll();
                            if (res.code == 0) {
                                $(document).dialog({titleText    : 'تلميح النظام',
                                    infoText: res.info,
                                    autoClose: 2000,
                                    onClosed: function () {
                                        location.reload()
                                    }
                                });
                            } else {
                                $(document).dialog({
                                    type: 'alert',
                                    titleText: res.info,
                                    buttonTextConfirm: "بالتأكيد",
                                    autoClose: 0,
                                    onClosed: function () {
                                        if (res.url) window.location.href = res.url;
                                    }
                                });
                            }
                            sumbit = true;
                        },
                        error: function (err) {
                            console.log(err);
                            sumbit = true;
                        }
                    });
                },
                onClickCancelBtn: function () {

                }
            });
        } else {
            $('#orderDetail').modal('hide');
        }
    });

    $('.close').click(function () {
        $('#orderDetail').modal('hide');
    });
    $(function () {
        $('.add_link').click(function () {
            $('#add_link_popup').modal('show');
        });
        $('.add_link_save').click(function () {
            var to_name = $('input[name=to_name]').val();
            var add_id = $('input[name=add_id]').val();
            if (to_name == '' || add_id == '') {
                $(document).dialog({titleText    : 'تلميح النظام',
                    infoText: 'Não pode estar vazio!'
                });
                return;
            }
            var option = '<option value="' + add_id + '" to_name="' + to_name + '" selected>[' + to_name + ']' + add_id + '</option>';
            $('#publish_to').prepend(option);
            $('#add_link_popup').modal('hide');
        });
        $('.add_link_cancel').click(function () {
            $('#add_link_popup').modal('hide');
        });

        $('.copy_link').click(function () {
            isShare = true;
            var link = $(this).parent().parent().siblings('span').text();
            copy_txt(link);
        });
        $('.send_with_whatsapp').click(function () {
            isShare = true;
            var link = $(this).parent().parent().siblings('span').text();
            if ($(this).attr('id')) {
                var group = $('select[name=publish_to]').val();
            } else {
                var group = $(this).parent().attr('group');
            }
            var text = $('#share_text').val().replace("{link}", link).replace("{group}", group);
            window.open('https://api.whatsapp.com/send?text=' + encodeURIComponent(text));
        });

        $('.send_with_telegram').click(function () {
            isShare = true;
            var link = $(this).parent().parent().siblings('span').text();
            if ($(this).attr('id')) {
                var group = $('select[name=publish_to]').val();
            } else {
                var group = $(this).parent().attr('group');
            }
            var text = $('#share_text').val().replace("{link}", link).replace("{group}", group);
            window.open('https://telegram.me/share/url?url=' + encodeURI(link) + '&text=' + encodeURI(text));
        });

        $('.send_with_tweet').click(function () {
            isShare = true;
            var link = $(this).parent().parent().siblings('span').text();
            if ($(this).attr('id')) {
                var group = $('select[name=publish_to]').val();
            } else {
                var group = $(this).parent().attr('group');
            }
            var text = $('#share_text').val().replace("{link}", link).replace("{group}", group);
            window.open('https://twitter.com/intent/tweet?via=&text=' + encodeURI(text) + "&url=" + encodeURI(link) + "&related=" + encodeURIComponent('COSTCOSHOPS: ' + text));
        });
    })

    function tijiao(id) {
        oid = id;
        $('#orderDetail').modal('show');
        $.ajax({
            url: "/index/order/order_info_list",
            type: "POST",
            dataType: "JSON",
            data: {id: oid},
            success: function (res) {
                var data = res.data;
                if (res.code == 0) {
                    var html = '';
                    for (var i = 0; i < data.length; i++) {
                        html += '<div class="records_tabs_box">\n' +
                            '<div class="records_tabs_box_top"><span>وقت استلام الطلب:</span>\n' +
                            '    <span>' + data[i].addtime + '</span>\n' +
                            '</div>\n' +
							'<div class="records_tabs_box_top">' +
							'    <span>رقم الأمر:</span><span>' + data[i].oid + '</span>\n' +
							'</div>\n' +
                            '<div class="records_tabs_box_des">\n' +
                            '    <div class="tabs_box_des_img">\n' +
                            '        <img src="' + data[i].goods_pic + '"></div>\n' +
                            '    <div class="tabs_box_des_r">\n' +
                            '        <p class="tabs_box_des_r_tit" style="max-height: 95px;">' +
                            data[i].goods_name + '</p>\n' +
                            '        <div class="tabs_box_des_r_pic" style="display: none"><p>' +
                            data[i].goods_price + '</p><p> x ' + data[i].goods_count + '</p></div>\n' +
                            '    </div>\n' +
                            '</div>\n' +
                            '<div class="res-row row mt-3">\n' +
                            '    <div class="col text-left">الطلب الكلي</div>\n' +
                            '    <div class="col-auto text-right ">' + data[i].num + '</div>\n' +
                            '</div>\n' +
                            '<div class="res-row row mt-1">\n' +
                            '    <div class="col text-left">عمولة</div>\n' +
                            '    <div class="col-auto text-right txt1"><span id="yongjin">' +
                            data[i].commission + '</span></div>\n' +
                            '</div>\n' +
                            '</div>'
                    }
                    $('#orderListInfo').html(html);
                }
            },
            error: function (err) {
                console.log(err)
            }
        })
    }

    var zhujiTime = "1";
    var shopTime = "2";

    zhujiTime = zhujiTime * 1000;
    shopTime = shopTime * 1000;

    //提交
    $('.tabs_btn2').click(function () {
        //--------------------------------
        if (!isShare) {
            $(document).dialog({titleText    : 'تلميح النظام',
                infoText: "إرسال جميع الطلبات",
                autoClose: 2000
            });
            return;
        }
        var publish_to = $(this).parent().siblings().find('select[name=publish_to]');
        var to_name = publish_to.find('option:selected').attr('to_name');
        var aid = publish_to.find('option:selected').attr('aid');
        var add_id = publish_to.val();
        var i = 0;
        layer.open({
            type: 2,
            content: "مطابقة المعلومات التجارية",
            time: zhujiTime,
            shadeClose: false,
        });
        var timer = setInterval(function () {
                i++;
                if (i == 1) {
                    layer.open({
                        type: 2,
                        content: "إنشاء طلب المنتج",
                        time: zhujiTime,
                        shadeClose: false,
                    })
                } else if (i == 2) {
                    layer.open({
                        type: 2,
                        content: "اكتمل تقديم الطلب",
                        time: shopTime,
                        shadeClose: false,
                    })
                    var ajaxT = setTimeout(function () {
                            $.ajax({
                                url: "/index/order/do_order",
                                type: "POST",
                                dataType: "JSON",
                                data: {
                                    oid: oid,
                                    add_id: add_id,
                                    to_name: to_name,
                                    aid: aid
                                },
                                success: function (res) {
                                    layer.closeAll();
                                    console.log(res)
                                    if (res.code == 0) {
                                        $(document).dialog({titleText    : 'تلميح النظام',
                                            infoText: "اكتملت معالجة الطلب",
                                            autoClose: 2000
                                        });
                                        clearInterval(timer);
                                        var linkTime = setTimeout(function () {
                                                location.reload()
                                            },
                                            1800);
                                    } else {
                                        $(document).dialog({
                                            type: 'alert',
                                            titleText: res.info,
                                            buttonTextConfirm: "بالتأكيد",
                                            autoClose: 0,
                                            onClosed: function () {
                                                if (res.url) window.location.href = res.url;
                                            }
                                        });
                                    }
                                    sumbit = true;
                                },
                                error: function (err) {
                                    layer.closeAll();
                                    console.log(err);
                                    sumbit = true;
                                }
                            })
                        },
                        shopTime)
                }
            },
            zhujiTime)

    });

    function copy_txt(xx) {
        //var text = document.createElement('input');
        var text = document.getElementById("webcopyinput");
        text.id = 'webcopyinput';
        text.value = '' + xx + '';
        //text.style.position = 'fixed';
        // text.style.top = '- 10000px';
        // document.body.appendChild(text);
        text.focus(); //给input输入框聚焦
        text.setSelectionRange(0, text.value.length); //设置input框选中的范围
        copied = document.execCommand('Copy'); //执行复制操作
        text.blur();
        copied = false;
        document.body.scrollTop = 0;
        $(document).dialog({titleText    : 'تلميح النظام',
            infoText: 'Copie o sucesso'
        });
    }